<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="stylesheets/common.css" rel="stylesheet">
    <link href="stylesheets/login.css" rel="stylesheet">
</head>
<body>
    <div class="login-page">
        <div class="login-box">
            <form class="ivu-form ivu-form-label-right" action="/dologin" method="post">
                <legend class="ng-scope">
                    <h2 >账号密码登录</h2>
                </legend>
                <div  class="ipt-name">
                    <input type="text" name="name" placeholder="name" class="">
                </div>
                <div class="ipt-psd">
                    <input type="password"name="password" placeholder="密码" class="">
                </div>
                <div class="btn">
                    <input type="submit" value="登录">
                </div>
            </form>
        </div>
    </div>
</body>
</html>