<div class="product-header">
    <header class="clearfix">
        <ul class="clearfix fl">
            <li><a>首页</a></li>
            <li><a>产品</a></li>
        </ul>
        <ul class="clearfix fr">
            <li>欢迎，<%=userinfo.name%></li>
            <li><a href="/loginOut">退出</a></li>
        </ul>
    </header>
</div>